div.todoWrapper {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin: 30px 0;
}

div.todoWrapper__title {
    font-size: 30px;
    align-self: center;
    font-weight: 600;
}
